<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/core/css/estilos.css">
</head>

<body>
    <header class="header">
        <div class="container container-nav">
            <div class="site-title">
                <h1>C-Barber</h1>
                <p class="subtitle">preparado para tu corte</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'inicio' %}">>Inicio</a></li>
                    <li><a href="{% url 'galeria' %}">Galeria</a></li>
                    <li><a href="{% url 'agendar' %}">agendar</a></li>
                    <li><a href="{% url 'inf' %}">Info</a></li>
                </ul>

            </nav>
        </div>
    </header>
    <main class="contact">
        <h1>contactanos</h1>
        <div class="flex-container">
            <div class="flex-item-left">
                <h4>Estamos en</h4>
                <p>26 de septiembre ciudadela san francisco</p>
                <p>Portoviejo, Manabi</p>
                <h4>Telefono</h4>
                <p>0991917167</p>
                <h4>Correo electronico</h4>
                <p>Sebastianmoreno1910@gmail.com</p>
            </div>
            <div class="flex-item-right">
                <form action="">
                    <input type="text" id="fname" placeholder="Your Name">
                    <input type="text" name="subject" id="subject" placeholder="Subject">
                    <textarea name="" id="textarea" cols="30" rows="10"></textarea>
                    <button type="button">Send Message</button>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <h3><span id="demo">&copy;</span><a href="#">C-barber.com/a></h3>
    </footer>

    <script src="js/index.js"></script>
</body>

</html>